<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AboutUs</title>
        <!-- Favicon-->
        <link rel="shortcut icon" type="image/jpg" href="../static/images/favicon.ico"/>
        <!-- Bootstrap icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/aboutusstyle.css" rel="stylesheet" />
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
            
            * {
                margin: 0;
                padding: 0;
                font-family: "montserrat", sans-serif;
            }
            .round{
                border-radius: 50%;
            }
            .logo{
                height: 50px;
                padding-right: 15px;
                padding-left: 5px;
            }
        </style>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-4 px-lg-5">
              <div class="navbar-header">
                <a class="navbar-brand" href=""><img src="../static/images/turflogo.png" class="img-responsive logo" alt=""></a>
              </div>
              <a class="navbar-brand" href="/">SurfTheTurf</a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="book_now">BookNow</a>
                  </li>
                  <li class="nav-item"><a class="nav-link active" href="aboutus">AboutUs</a></li>
                  <li class="nav-item">
                    <a class="nav-link" href="contactus">ContactUs</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item nav-link"></li>
                  <li class="nav-item">
                    <a class="nav-link" href="logout">Logout</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="signup">SignUp</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="login">Login</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h2 class="display-5 fw-bold">Get Set Go!!</h2>
                        <p class="fs-4">Our mission is to make it easier for everyone to play sports and increase the utilisation of facilities.</p>
                        <hr style="border: 1px solid black">
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-journal-check"></i></div>
                                <h2 class="fs-4 fw-bold">Advance reservation and online booking</h2>
                                <p class="mb-0">book your turfs in advance by using our website</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bell"></i></div>
                                <h2 class="fs-4 fw-bold">Real time alerts and notification</h2>
                                <p class="mb-0">You will get your booking and cancellation status via sms and email</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-hand-thumbs-up"></i></div>
                                <h2 class="fs-4 fw-bold">Rate and review</h2>
                                <p class="mb-0">You can rate the turfs/playground you are playing at
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-credit-card-2-back"></i></div>
                                <h2 class="fs-4 fw-bold">Online and offline payment mode available</h2>
                                <p class="mb-0">You can do your payment via online and offline mode</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-text"></i></div>
                                <h2 class="fs-4 fw-bold">Discount vouchers</h2>
                                <p class="mb-0">Generate discount vouchers for special customers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-pin-map"></i></div>
                                <h2 class="fs-4 fw-bold">Location search</h2>
                                <p class="mb-0">Search and find turfs around you</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border-top: 1px solid black">
                <h2 style="text-align: center;">Meet Our Team</h2>
                <div class="row text-center my-5">
                    <div class="col">
                        <img src="../static/images/Bangera.jpg" alt="" class="round my-3" style="height: 175px; width: 200px">
                        <h5>Pranav Bangera</h5>
                        <strong>Front-End Developer</strong>
                    </div>
                    <div class="col">
                        <img src="../static/images/harsh.jpg" alt="" class="round my-3" style="height: 175px; width: 200px">
                        <h5>Harsh Bhikadiya</h5>
                        <strong>Full-Stack Developer</strong>
                    </div>
                    <div class="col">
                        <img src="../static/images/shivam.jpg" alt="" class="round my-3" style="height: 175px; width: 200px">
                        <h5>Shivam Bhosale </h5>
                        <strong>Full-Stack Developer</strong>
                    </div>
                    <div class="col">
                        <img src="../static/images/dali.jpeg" alt="" class="round my-3" style="height: 175px; width: 200px">
                        <h5>Parth Dali</h5>
                        <strong>Full-Stack Developer</strong>
                    </div>
                    <div class="col">
                        <img src="../static/images/dalvi.jpg" alt="" class="round my-3" style="height: 175px; width: 200px">
                        <h5>Pranav Dalvi</h5>
                        <strong>Front-End Developer</strong>
                    </div>
                </div>
            </div>

            </div>
            

        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; SurfTheTurf 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../static/js/aboutusscript.js"></script>
    </body>
</html>
