<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>BookTurf</title>
        <!-- Favicon-->
        <link rel="shortcut icon" type="image/jpg" href="../static/images/favicon.ico"/>
        <link rel="icon" type="image/x-icon" href="#" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link href="../static/css/booking_style.css" rel="stylesheet" />
        <style>
            .logo{
                height: 50px;
                padding-right: 15px;
                padding-left: 5px;
              }
        </style>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-4 px-lg-5">
                <div class="navbar-header">
                    <a class="navbar-brand" href=""><img src="../static/images/turflogo.png" class="img-responsive logo" alt=""></a>
                </div>
                <a class="navbar-brand" href="/">SurfTheTurf</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" href="book_now">BookNow</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="aboutus">AboutUs</a></li>
                        <li class="nav-item"><a class="nav-link" href="contactus">ContactUs</a></li>
                        <li class="nav-item"><a class="nav-link" href="orderHistory">Order History</a></li>
                        {% if user.is_authenticated %}
						{% if user.username == "parth" %}
						<li class="nav-item"><a class="nav-link" href="allBookings">All Bookings</a></li>
						{% endif %}
                        <li class="nav-item nav-link">Hello, {{username}}</li>
                        <li class="nav-item"><a class="nav-link" href="logout">Logout</a></li>
                        {% else %}
						<li class="nav-item"><a class="nav-link" href="signup">SignUp</a></li>
						<li class="nav-item"><a class="nav-link" href="login">Login</a></li>
						{% endif %}
                    </ul>

                    <!-- <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form> -->
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Your Wait is Over!!</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Turf booking just a tap away!</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../static/images/turf1.jpeg" alt="turf1" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Sir JP Sports Arena</h5>
                                    <!-- Product address-->
                                    <p>Malad(West)</p>
                                    <p>Cricket,Footbal(7v7)</p>
                                    
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="turf_details">Book Now</a></div>
                            </div>
                        </div>
                    </div>

                    <!-- turf 2 -->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../static/images/turf2.png" alt="turf2" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Tiger play </h5>
                                    <!-- Product address-->
                                    <p>Andheri(West)</p>
                                    <p>Cricket,Footbal(5v5)</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Book Now</a></div>
                            </div>
                        </div>
                    </div>

                    <!-- turf 3 -->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../static/images/turf3.png" alt="turf3" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Battlefield Turf</h5>
                                    <!-- Product address-->
                                    <p>Andheri(East)</p>
                                    <p>Cricket,Footbal(6v6)</p>
                                    
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="../Turfblog/index.html">Book Now</a></div>
                            </div>
                        </div>
                    </div>

                    <!-- turf 4 -->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../static/images/turf4.png" alt="turf4" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Smash up turf</h5>
                                    <!-- Product address-->
                                    <p>Kandivali(West)</p>
                                    <p>Cricket,Footbal(6v6)</p>
                                    
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="../Turfblog/index.html">Book Now</a></div>
                            </div>
                        </div>
                    </div>

                    <!-- turf 5 -->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../static/images/turf5.png" alt="turf5" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Gurunanak Sports Turf</h5>
                                    <!-- Product address-->
                                    <p>Santacruz(East)</p>
                                    <p>Cricket,Footbal(7v7)</p>
                                    
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="../Turfblog/index.html">Book Now</a></div>
                            </div>
                        </div>
                    </div>

                    <!-- turf 6 -->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../static/images/turf6.png" alt="turf6" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Turf on Sports</h5>
                                    <!-- Product address-->
                                    <p>Marine lines</p>
                                    <p>Cricket,Footbal(5v5), Badminton</p>
                                    
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="../Turfblog/index.html">Book Now</a></div>
                            </div>
                        </div>
                    </div>

                    <!-- turf 7 -->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../static/images/turf7.png" alt="turf7" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Gallant Sports Arena </h5>
                                    <!-- Product address-->
                                    <p>Juhu</p>
                                    <p>Cricket,Footbal(8v8)</p>
                                    
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="../Turfblog/index.html">Book Now</a></div>
                            </div>
                        </div>
                    </div>


                    <!-- turf 8 -->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../static/images/turf8.png" alt="turf8" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">BallPark-Atria Mall</h5>
                                    <!-- Product address-->
                                    <p>Worli</p>
                                    <p>Cricket,Footbal(6v6)</p>
                                    
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="../Turfblog/index.html">Book Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; SurfTheTurf 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="../static/js/bookingpage.js"></script>
    </body>
</html>
