<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Slot Booking</title>
</head>
<style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10px;
    background-color:white;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
  }
  
  
  </style>
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container px-4 px-lg-5">
          <a class="navbar-brand" href="/">SurfTheTurf</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                  <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                  <li class="nav-item"><a class="nav-link active" href="book_now">BookNow</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">AboutUs</a></li>
                  <li class="nav-item"><a class="nav-link" href="../templates/contactUs.html">ContactUs</a></li>
                  {% if user.is_authenticated %}
                  <li class="nav-item"><a class="nav-link" href="logout">Logout</a></li>
                  {% else %}
						      <li class="nav-item"><a class="nav-link" href="signup">SignUp</a></li>
						      <li class="nav-item"><a class="nav-link" href="login">Login</a></li>
						      {% endif %}
              </ul>
              
          </div>
      </div>
  </nav>
    <div class="header-name" style="text-align: center;">
      <h1>Select the Time Slot:{{selectedDate}}</h1>
    </div>
  
  <div class="grid-container">
    <div class="item1">
      <span class="material-icons" style="font-size:60px;color:black;text-shadow:2px 2px 4px #000000;">wb_sunny</span>
        <br>
      Morning</div>
    <div class="item2">
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <form>
          
        </form>
        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck1">6-7am</label>
      
        <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck2">7-8am</label>
      
        <input type="checkbox" class="btn-check" id="btncheck10" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck10">8-9am</label>

        <input type="checkbox" class="btn-check" id="btncheck11" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck11">9-10am</label>

        <input type="checkbox" class="btn-check" id="btncheck12" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck12">10-11am</label>
      </div>
      </div>
    <div class="item3">
      <span class="material-icons" style="font-size:60px;color:black;text-shadow:2px 2px 4px #000000;">wb_sunny</span><br>
      Afternoon</div>  
    <div class="item4">
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
      <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
      <label class="btn btn-outline-primary" for="btncheck4">11-12pm</label>
    
      <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
      <label class="btn btn-outline-primary" for="btncheck5">12-1pm</label>
    
      <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
      <label class="btn btn-outline-primary" for="btncheck6">1-2pm</label>

      <input type="checkbox" class="btn-check" id="btncheck13" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck13">2-3pm</label>
    </div></div>
    <div class="item5">
      <span class="material-icons" style="font-size:60px;color:black;text-shadow:2px 2px 4px #000000;">wb_sunny</span>
      <br>
      Evening</div>
    <div class="item6">
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck7">3-4pm</label>
      
        <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck8">4-5pm</label>
      
        <input type="checkbox" class="btn-check" id="btncheck9" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck9">5-6pm</label>

        <input type="checkbox" class="btn-check" id="btncheck14" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck14">6-7pm</label>

        <input type="checkbox" class="btn-check" id="btncheck15" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck15">7-8pm</label>
      </div></div>

      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary">Book Now</button>
        </div>
      </div>

    
  
  </body>
</html>