<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TurfDetails</title>
    <!-- Favicon-->
    <link rel="shortcut icon" type="image/jpg" href="../static/images/favicon.ico"/>
    <!-- <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="./styles.css" rel="stylesheet" />
    <style>
      .logo{
        height: 50px;
        padding-right: 15px;
        padding-left: 5px;
      }
    </style>
  </head>
  <body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container px-4 px-lg-5">
        <div class="navbar-header">
          <a class="navbar-brand" href=""><img src="../static/images/turflogo.png" class="img-responsive logo" alt=""></a>
        </div>
        <a class="navbar-brand" href="/">SurfTheTurf</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="book_now">BookNow</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="aboutus">AboutUs</a></li>
            <li class="nav-item">
              <a class="nav-link" href="contactus"
                >ContactUs</a>
            </li>
          </ul>
          {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="logout">Logout</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="signup">SignUp</a></li>
          <li class="nav-item"><a class="nav-link" href="login">Login</a></li>
          {% endif %}
        </div>
      </div>
    </nav>
    <!-- Page content-->
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-8">
          <!-- Post content-->
          <article>
            <!-- Post header-->
            <header class="mb-4">
              <!-- Post title-->
              <h1 class="fw-bolder mb-1">Sir JP Sports Arena</h1>

              <!-- Post categories-->
              <a
                class="badge bg-secondary text-decoration-none link-light"
                href="#"
                >Cricket</a
              >
              <a
                class="badge bg-secondary text-decoration-none link-light"
                href="#!"
                >Football</a
              >
            </header>
            <!-- Preview image figure-->
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="../static/images/image1.jpeg"
                    class="d-block w-100"
                    alt="image1"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../static/images/image2.png"
                    class="d-block w-100"
                    alt="image2"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../static/images/image3.png"
                    class="d-block w-100"
                    alt="image3"
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!-- <figure class="mb-4"><img class="img-fluid rounded" src="./images/image1.jpeg" alt="..." /></figure> -->

            <br />

            <!-- Post content-->
            <section class="mb-5">
              <form action="slot_details" method="post">
                {% csrf_token %}
                <h4>Select Date To Book:</h4>
                <input
                  type="date"
                  id="start"
                  name="selectedDate"
                  value="{{currentDate}}"
                  min="{{currentDate}}"
                  max="{{endDate}}"
                />

                <button type="submit" class="btn btn-primary btn-md">
                  Book Now
                </button>
              </form>

              <br />
              <br />
              <p class="fs-5 mb-4">
                <strong>Terms & Conditions Applied</strong>
              </p>
              <p class="fs-5 mb-4">
                We have to be aware of the fact that the global pandemic of
                Covid-19 has not ended in Mumbai. Hence, we'll be restarting
                with some rules.
                <strong
                  >We are confident that our valued customers will definitely
                  abide by all the guidelines we set before booking:</strong
                >
              </p>
              <ul class="fs-5 mb-4">
                <li>
                  All customers MUST arrive at the venue wearing masks. Any
                  customers without masks will not be allowed in the premises
                </li>
                <li>
                  Only stumps will be provided at the turf. Footballs, bats,
                  cricket balls must be brought by the customers
                </li>
                <li>Turf timings have been limited to 6 am to 6 pm only</li>
                <li>
                  No more than 14 players will be allowed on the premises at any
                  given time. No spectators will be allowed during the booking
                </li>
                <li>
                  All players are requested to sanitize their hands before
                  entering the ground.
                </li>
                <li>
                  Turf and all other equipment provided by turf will be
                  sanitized on timely basis.
                </li>
              </ul>
            </section>
          </article>
          <!-- Comments section-->
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
          <!-- Search widget-->
          <div class="card mb-4">
            <div class="card-header">Location:</div>
            <div class="card-body">
              <div class="input-group">
                <p>
                  1, Bhoomi Park Phase 2 Rd, Malad, Jankalyan Nagar, Malad West,
                  Mumbai, Maharashtra 400095
                </p>
                <a href="https://goo.gl/maps/uPWKekGSQDH3jafW9" target="_blank"
                  >Map View<i class="bi bi-geo-alt-fill"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- Categories widget-->
          <div class="card mb-4">
            <div class="card-header">Amenities</div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a
                        class="
                          badge
                          bg-secondary
                          text-decoration-none
                          link-light
                        "
                        href="#"
                        >Parking</a
                      >
                    </li>
                    <li>
                      <a
                        class="
                          badge
                          bg-secondary
                          text-decoration-none
                          link-light
                        "
                        href="#"
                        >Washroom</a
                      >
                    </li>
                    <li>
                      <a
                        class="
                          badge
                          bg-secondary
                          text-decoration-none
                          link-light
                        "
                        href="#"
                        >FloodLights</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a
                        class="
                          badge
                          bg-secondary
                          text-decoration-none
                          link-light
                        "
                        href="#"
                        >Stumps</a
                      >
                    </li>
                    <li>
                      <a
                        class="
                          badge
                          bg-secondary
                          text-decoration-none
                          link-light
                        "
                        href="#"
                        >FootBalls</a
                      >
                    </li>
                    <li>
                      <a
                        class="
                          badge
                          bg-secondary
                          text-decoration-none
                          link-light
                        "
                        href="#"
                        >DrinkingWater</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Side widget-->
        </div>
      </div>
    </div>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; SurfTheTurf 2021
        </p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
